@import "theme";

.active-scripts-list {
    list-style-type: none;
}

#active-scripts-container {
    position: fixed;
    padding-top: 10px;

    > p {
        width: 70%;
        margin: 6px;
        padding: 4px;
    }
}

.active-scripts-server-header {
    background-color: #444;
    font-size: $defaultFontSize * 1.25;
    color: #fff;
    margin: 6px 6px 0 6px;
    padding: 6px;
    cursor: pointer;
    width: 60%;
    text-align: left;
    border: none;
    outline: none;
}

.active-scripts-server-header.active,
.active-scripts-server-header:hover {
    background-color: #555;
}

.active-scripts-server-header.active:hover {
    background-color: #666;
}

.active-scripts-server-header:after {
    content: '\02795'; /* "plus" sign (+) */
    font-size: $defaultFontSize * 0.8125;
    color: #fff;
    float: right;
    margin-left: 5px;
}

.active-scripts-server-header.active:after {
    content: "\2796"; /* "minus" sign (-) */
    font-size: $defaultFontSize * 0.8125;
    color: #fff;
    float: right;
    margin-left: 5px;
}

.active-scripts-server-panel {
    margin: 0 6px 6px 6px;
    padding: 0 6px 6px 6px;
    width: 55%;
    margin-left: 5%;
    display: none;
}

.active-scripts-server-panel div,
.active-scripts-server-panel ul,
.active-scripts-server-panel ul > li {
    background-color: #555;
}

.active-scripts-script-header {
    background-color: #555;
    color: var(--my-font-color);
    padding: 4px 25px 4px 10px;
    cursor: pointer;
    width: auto;
    text-align: left;
    border: none;
    outline: none;
    position: relative;

    &:after {
        content: '\02795'; /* "plus" sign (+) */
        font-size: $defaultFontSize * 0.8125;
        float: right;
        margin-left: 5px;
        color: transparent;
        text-shadow: 0 0 0 var(--my-font-color);
        position: absolute;
        bottom: 4px;
    }

    &.active:after {
        content: "\2796"; /* "minus" sign (-) */
    }

    &:hover,
    &.active:hover {
        background-color: #666;
    }

    &.active {
        background-color: #555;
    }
}

.active-scripts-script-panel {
    padding: 0 18px;
    background-color: #555;
    width: auto;
    display: none;
    margin-bottom: 6px;

    p, h2, ul, li {
        background-color: #555;
        width: auto;
        color: #fff;
        margin-left: 5%;
    }
}
