@import "theme";

.active-scripts-list {
  list-style-type: none;
}

.active-scripts-container {
  > p {
    width: 70%;
    margin: 6px;
    padding: 4px;
  }

  .accordion-header {
    > pre {
      color: white;
    }
  }
}

.active-scripts-server-header {
  background-color: #444;
  font-size: $defaultFontSize * 1.25;
  color: #fff;
  margin: 6px 6px 0 6px;
  padding: 6px;
  cursor: pointer;
  width: 60%;
  text-align: left;
  border: none;
  outline: none;

  &:after {
    content: "\02795"; /* "plus" sign (+) */
    font-size: $defaultFontSize * 0.8125;
    color: #fff;
    float: right;
    margin-left: 5px;
  }

  &.active,
  &:hover {
    background-color: #555;
  }
}

.active-scripts-server-header.active {
  &:after {
    content: "\2796"; /* "minus" sign (-) */
    font-size: $defaultFontSize * 0.8125;
    color: #fff;
    float: right;
    margin-left: 5px;
  }

  &:hover {
    background-color: #666;
  }
}

.active-scripts-server-panel {
  margin: 0 6px 6px 6px;
  padding: 0 6px 6px 6px;
  width: 55%;
  margin-left: 5%;
  display: none;

  div,
  ul,
  ul > li {
    background-color: #555;
  }
}

.active-scripts-script-header {
  background-color: #555;
  border: none;
  color: var(--my-font-color);
  cursor: pointer;
  display: block;
  outline: none;
  padding: 4px 25px 4px 10px;
  position: relative;
  text-align: left;
  width: auto;

  &:after {
    content: "\02795"; /* "plus" sign (+) */
    font-size: $defaultFontSize * 0.8125;
    float: right;
    margin-left: 5px;
    color: transparent;
    text-shadow: 0 0 0 var(--my-font-color);
    position: absolute;
    bottom: 4px;
  }

  &.active:after {
    content: "\2796"; /* "minus" sign (-) */
  }

  &:hover,
  &.active:hover {
    background-color: #666;
  }

  &.active {
    background-color: #555;
  }
}

.active-scripts-script-panel {
  background-color: #555;
  display: none;
  font-size: 14px;
  margin-bottom: 6px;
  padding: 0 18px;
  width: auto;

  pre,
  h2,
  ul,
  li {
    background-color: #555;
    width: auto;
    color: #fff;
    margin-left: 5%;
  }
}
