#bladeburner-container p,
#bladeburner-container pre,
#bladeburner-container a,
#bladeburner-container div,
#bladeburner-container td {
    font-size: 13px;
}

.bladeburner-action {
    border:1px solid #ffffff;
    margin:7px;
    padding:7px;
    white-space: pre-wrap;
}

.bladeburner-action pre {
    white-space: pre-wrap;
}

/* Whatever action is currently active */
.bladeburner-active-action {
    border:4px solid #ffffff;
}

/* Action & Skills panel navigation button */
.bladeburner-nav-button {
    border:1px solid #ffffff;
    color:#ffffff;
    padding:2px;
    margin:2px;
}

.bladeburner-nav-button:hover {
    background-color:#3d4044;
}

.bladeburner-nav-button-inactive {
    border:1px solid #ffffff;
    padding:2px;
    margin:2px;
    text-decoration: none;
    background-color: #555;
    cursor: default;
    pointer-events: none;
}

/* Bladeburner Console */
.bladeburner-console-div {
    display:inline-block;
    width:40%;
    border:1px solid #ffffff;
    overflow:auto;
    height:100%;
    position:absolute;
}

.bladeburner-console-table {
    height:auto;
    overflow:auto;
    table-layout:fixed;
    width:100%;
}

.bladeburner-console-input-row {
    transition: height 1s;
    width:100%;
}

.bladeburner-console-input-cell {
    display: flex;
}

.bladeburner-console-input {
    display: inline-block;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px;
	background-color: var(--my-background-color);
	font-size: 13px;
	outline: none;
    color: var(--my-font-color);
    flex: 1 1 auto;
}

.bladeburner-console-line {
    word-wrap: break-word;
    hyphens:auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}
