.casino-card {
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 18.5px;
    text-align: center;
    margin: 3px;
    font-weight: bold;
}

.casino-card .value {
    font-size: 20px;
    font-family: sans-serif;
}

.casino-card.red {
    color: red;
}

.casino-card.black {
    color: black;
}
