#cmpy-mgmt-container p,
#cmpy-mgmt-container a,
#cmpy-mgmt-container div {
    font-size: 13px;
}


/* Header tabs */
.cmpy-mgmt-header-tab {
    display: inline-block;
    color: white;
    background-color:#555;
    border:1px solid white;
    padding: 4px;
}

.cmpy-mgmt-header-tab:hover {
    background-color: #666;
}

.cmpy-mgmt-header-tab.current {
    background-color: #777;
}

/* Select industry type when creating a new division */
.cmpy-mgmt-industry-select {
    color:white;
    background-color:black;
}

/* Switch between Cities */
.cmpy-mgmt-city-tab {
    display:inline-block;
    color: white;
    background-color: #555;
    border: 1px solid white;
    padding: 4px;
}

.cmpy-mgmt-city-tab:hover {
    background-color: #666;
}

.cmpy-mgmt-city-tab.current {
    background-color: #777;
}

/* Panels */
#cmpy-mgmt-panel {
    height: 90%;
}

.cmpy-mgmt-industry-left-panel,
.cmpy-mgmt-industry-right-panel {
    display:inline-block;
    width: 45%;
    height: 100%;
    top: 10px;
    overflow-y: auto;
    overflow-x: auto;
}

.cmpy-mgmt-industry-overview-panel {
    border: 1px solid white;
    color: var(--my-font-color);
    display:inline-block;
    width: 100%;
}

.cmpy-mgmt-employee-panel {
    border: 1px solid white;
    display:block;
    width:100%;
}

.cmpy-mgmt-warehouse-panel {
    border: 1px solid white;
    display:inline-block;
    width:100%;
}

/* Hiring new employees*/
.cmpy-mgmt-find-employee-option {
    border:1px solid white;
    margin: 6px;
}

.cmpy-mgmt-find-employee-option:hover {
    background-color:#3d4044;
}

/* Warehouse */
.cmpy-mgmt-warehouse-material-div {
    padding:2px;
    border:1px solid white;
}

.cmpy-mgmt-warehouse-product-div {
    padding:2px;
    border:1px solid white;
}

/* Exporting materials/products */
.cmpy-mgmt-existing-export {
    border:1px solid white;
    border-radius:25px;
    margin:4px;
    padding:4px;
}

.cmpy-mgmt-existing-export:hover {
    background-color:#333333;
}


/* Upgrades */
.cmpy-mgmt-upgrade-container {
    border:1px solid white;
    width: 60%;
    margin:4px;
}

.cmpy-mgmt-upgrade-div {
    display:inline-block;
    border:1px solid white;
    margin:2px;
    padding:6px;
    border-radius:25px;
    font-size:"12px";
    color:var(--my-font-color);
}

.cmpy-mgmt-upgrade-div:hover {
    background-color:#333333;
}
