.add-exp-button {
	margin-right: 0px;
}

.remove-exp-button {
	margin-left:0px;
}

.exp-input {
	margin-right: 0px;
	margin-left:0px;
	
	margin-top: 5px;
	margin-bottom: 5px;

	padding: 2px 5px;
}

.text-center {
	margin: auto;
	text-align: center;
	vertical-align: middle;
}

.touch-right {
	margin-right: 0px;
}

.touch-left {
	margin-left: 0px;
}

.touch-sides {
	margin-left: 0px;
	margin-right: 0px;
}