@import "mixins";
@import "theme";

/**
 * Styling for the Gang mechanic UI (BitNode-2)
 */

#gang-container {
  position: fixed;
  padding: 6px;

  p,
  pre {
    font-size: $defaultFontSize * 0.9375;
  }

  select {
    background-color: black;
    color: white;
  }
}

#gang-management-subpage > p {
  padding: 4px;
}

.gang-member-info-div {
  background-color: #555;
  display: inline;
  float: left;
  width: 30%;
}

/**
 * Showing owned upgrades in the Equipment Box
 */

.gang-owned-upgrades-div {
  display: inline-block;
  margin-left: 6px;
  width: 75%;
}

.gang-owned-upgrade {
  border: 1px solid white;
  font-size: 12px;
  margin: 1px;
  padding: 1px;
}
