@import "mixins";
@import "theme";

/* interactivetutorial.css */
#interactive-tutorial-wrapper {
    position: relative;
}

#interactive-tutorial-container {
    display: none;
    position: absolute; /* Stay in place */
    right: 0;
    top: 0;
    height: 450px;
    padding: 10px;
    border: 5px solid #fff;
    width: 23%;
    overflow:hidden;
    background-color: #444; /* Fallback color */
    color: #fff;

    > strong {
        background-color: #444;
    }
}

#interactive-tutorial-text {
    padding: 4px;
    margin: 4px;
    color: #fff;
    background-color: #444;
    font-size: $defaultFontSize * 0.875;
    max-height: 350px;
    overflow-y: auto;
}

#interactive-tutorial-exit,
#interactive-tutorial-next,
#interactive-tutorial-back {
    @include borderRadius(12px);
    @include boxShadow(1px 1px 3px #000);

    color: #aaa;
    font-size: $defaultFontSize * 1.125;
    font-weight: bold;
    background-color: #000;

    &:hover,
    &:focus {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
}

/*
#interactive-tutorial-exit {
    float: left;
}

#interactive-tutorial-back {
    margin-right: 20%;
    float: right;
}
*/
#interactive-tutorial-exit {
    position:absolute;
    bottom: 0;
    left:0;
}

#interactive-tutorial-back {
    float: left;
}

#interactive-tutorial-next {
    float: right;
}
