/* CSS for different main menu pages, such as character info, script editor, etc (but excluding
	terminal which has its own page) */

.generic-menupage-container {
    height: 100%;
    padding-left: 10px;
    margin-left: 10%;
    width: 99%;
	overflow-y: scroll;
}

/* Character Info */
#character-container {
    padding-top: 10px;
    position: fixed;
}

/* Script Editor */
/* This temp element is used for auto adjusting filename field */
.tmp-element {
        visibility: hidden;
        white-space: pre;
}

#script-editor-container {
	position: fixed;
	padding-top: 10px;
}

#script-editor-buttons-wrapper {
    width: 100%;
    padding-right: 0xp;
    margin-right: 0px;
}

#script-editor-save-and-close-button,
#script-editor-netscript-doc-button,
#script-editor-status-text {
    display: inline-block;
}

#script-editor-status-text {
    margin: 10px;
}

#script-editor-save-and-close-button {
    float:left;
}

#script-editor-netscript-doc-button {
    float: right;
    padding-right: 0px;
    margin-right: 2px;
}

#script-editor-wrapper {
    height:100%;
    width: 70%;
}

#script-editor-filename-wrapper {
    background-color: #555;
    margin-left: 6px;
    margin-right: 0px;
    padding-left: 6px;
    width: 100%;
    border: 2px solid var(--my-highlight-color);
}

#script-editor-filename-tag {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 0px;
    float:center;
    background-color: #555;
    color: white;
}

#script-editor-filename {
    background-color: #555;
    display: inline-block;
	float: center;
	resize: none;
	color: white;
    margin: 4px;

    padding:  2px;

    border: 2px solid var(--my-highlight-color);
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
}

#script-editor-status {
	float: left;
	color: #ffffff;
}

#script-editor-text {
	color: var(--my-font-color);
	height: 80%;
    width: 100%;
    margin-left: 6px;

    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;

    border: 2px solid var(--my-highlight-color);
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
}

/* Active scripts */
.active-scripts-list {
    list-style-type: none;
}

#active-scripts-container {
	position: fixed;
	padding-top: 10px;
}

#active-scripts-text,
#active-scripts-total-prod {
    width: 70%;
    margin: 6px;
    padding: 4px;
}

.active-scripts-server-header {
    background-color: #444;
    font-size: 20px;
    color: white;
    margin: 6px 6px 0px 6px;
    padding: 6px;
    cursor: pointer;
    width: 60%;
    text-align: left;
    border: none;
    outline: none;
}

.active-scripts-server-header.active,
.active-scripts-server-header:hover {
    background-color: #555;
}

.active-scripts-server-header.active:hover {
    background-color: #666;
}

.active-scripts-server-header:after {
    content: '\02795'; /* "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active-scripts-server-header.active:after {
    content: "\2796"; /* "minus" sign (-) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active-scripts-server-panel {
    margin: 0px 6px 6px 6px;
    padding: 0px 6px 6px 6px;
    width: 55%;
    margin-left: 5%;
    display: none;
}

.active-scripts-server-panel div,
.active-scripts-server-panel ul,
.active-scripts-server-panel ul > li {
    background-color: #555;
}

.active-scripts-script-header {
    background-color: #555;
    color: var(--my-font-color);
    padding: 4px;
    padding-left: 10px;
    cursor: pointer;
    width: auto;
    text-align: left;
    border: none;
    outline: none;
}

.active-scripts-script-header:hover,
.active-scripts-script-header.active:hover {
    background-color: #666;
}

.active-scripts-script-header.active {
    background-color: #555;
}

.active-scripts-script-header:after {
    content: '\02795'; /* "plus" sign (+) */
    font-size: 13px;
    color: var(--my-font-color);
    float: right;
    margin-left: 5px;
}

.active-scripts-script-header.active:after {
    content: "\2796"; /* "minus" sign (-) */
    font-size: 13px;
    color: var(--my-font-color);
    float: right;
    margin-left: 5px;
}

.active-scripts-script-panel {
    padding: 0 18px;
    background-color: #555;
    width: auto;
    display: none;
    margin-bottom: 6px;
}

.active-scripts-script-panel p,
.active-scripts-script-panel h2,
.active-scripts-script-panel ul,
.active-scripts-script-panel li {
    background-color: #555;
    width: auto;
    color: white;
    margin-left: 5%;
}

.active-scripts-button {
    color: #aaa;
    font-size: 16px;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    margin: 4px;
    padding: 4px;
}

.active-scripts-button:hover,
.active-scripts-button:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Hacknet Nodes */
#hacknet-nodes-container {
    position: fixed;
    padding: 10px;
}

#hacknet-nodes-text,
#hacknet-nodes-money,
#hacknet-nodes-container li {
    width: 70%;
    margin: 10px;
    padding: 10px;
}

#hacknet-nodes-purchase-button {
    display: inline-block;
}

#hacknet-nodes-money-multipliers-div {
    display: inline-block;
    width: 70%;
}

#hacknet-nodes-multipliers {
    float: right;
}

.hacknet-node {
    margin: 6px;
    padding: 6px;
    width: 85%;
    border: 2px solid var(--my-highlight-color);
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
}

.hacknet-node-button-div a {
    display: block;
}

.hacknet-node-button-div:not(:last-child) {
    border-bottom: none;
}

/* World */
#world-container {
    position: fixed;
    padding-top: 10px;
}


#world-city-name,
#world-city-desc {
    padding: 4px;
    margin: 4px;
}

/* Create program */
#create-program-container {
    position: fixed;
    padding-top: 10px;
}

#create-program-page-text,
#create-program-list {
    width: 70%;
}

/* Factions and Faction (Single Faction page) */
#factions-container {
    position: fixed;
    padding-top: 10px;
}

#faction-container {
    position: fixed;
    padding-top: 10px;
}

#factions-list li {
    padding: 6px;
    margin: 6px;
}

#faction-favor, #faction-reputation {
    display: inline;
}

#faction-hack-div,
#faction-fieldwork-div,
#faction-securitywork-div,
#faction-donate-div {
    overflow: hidden;
    width: 70%;
    height: 100%;
}

#faction-hack-div-wrapper,
#faction-fieldwork-div-wrapper,
#faction-securitywork-div-wrapper,
#faction-donate-div-wrapper {
    float: left;
    border: 2px solid #333;
    padding: 14px 6px 4px 6px;
    margin: 6px;
}

#faction-hack-button,
#faction-fieldwork-button,
#faction-securitywork-button {
    margin: 8px;
}

#faction-donate-amount-txt,
#faction-donate-input {
    padding: 6px;
    margin: 6px;
    display: inline-block;
    color: var(--my-font-color);
}

#faction-donate-amount-txt {
    width:50%;
}

div.faction-clear {
    clear: both;
}

#faction-container p {
    padding: 6px;
    margin: 6px;
    width: 70%;
}

/* Faction Augmentations */
#faction-augmentations-container{
    position: fixed;
    padding-top: 10px;
}

#faction-augmentations-container p,
#faction-augmentations-container a,
#faction-augmentations-container ul,
#faction-augmentations-container h1{
    margin: 8px;
    padding: 4px;
}

#faction-augmentations-list > li{
    margin: 4px;
    padding: 4px;
}

/* World */
#world-container li {
    margin: 0 0 15px 0;
    list-style-type: none;
}

/* Augmentations */
#augmentations-container {
    position: fixed;
    padding-top: 10px;
}


#augmentations-list li,
#queued-augmentations-list li {
    width: 70%;
    background-color: #333;
}

#augmentations-list h2,
#augmentations-list p,
#queued-augmentations-list h2,
#queued-augmentations-list p {
    margin: 4px;
    color: var(--my-font-color);
	padding: 8px;
    width: 70%;
    background-color: #333;
    text-decoration: none;
}

.installed-augmentation {
    /* TODO */
}

/* Tutorial */
#tutorial-container {
    position: fixed;
    padding-top: 10px;
}

#tutorial-text {
    width: 70%;
    margin: 10px;
}

#tutorial-container a {
    width: 50%;
}

/* Location */
#location-container {
	position: fixed;
	padding: 6px;
    overflow-x: hidden;
}

#location-container a {
    display:inline-block;
    width: 30%;
}

#location-slums-description {
    width: 70%;
    margin: 10px;
}

#location-return-to-world-button {
    margin: 10px;
    padding: 6px;
}

#location-container * {
	margin: 10px 5px 10px 5px;
}

#location-job-reputation, #location-company-favor {
    display: inline;
}

/* Infiltration */
#infiltration-container {
    position: fixed;
    padding: 6px;
}
#infiltration-left-panel,
#infiltration-right-panel {
    display:inline-block;
    border: 1px solid white;
    width: 35%;
    height: 75%;
    top: 10px;
    overflow-y: auto;
    overflow-x: auto;
}

#infiltration-faction-select {
    color:white;
}

#infiltration-left-panel p,
#infiltration-right-panel p {
    margin: 4px;
}

#infiltration-buttons .a-link-button {
    display:inline;
    width: 25%;
}

/* Stock market */
#stock-market-container {
    position: fixed;
    padding: 6px;
}

#stock-market-container p {
    padding: 10px;
    margin: 10px;
    width: 70%;
}

#stock-market-container a {
    margin: 10px;
}

.stock-market-qty-input {
    border: 1px solid white;
    color: var(--my-font-color);
    padding: 4px;
    margin: 4px;
}

.stock-market-buy-sell-button {
    color: #aaa;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    margin: 6px;
    border: 1px solid white;
}

.stock-market-buy-sell-button:hover,
.stock-market-buy-sell-button:focus {
    color: var(--my-font-color);
    text-decoration: none;
    cursor: pointer;
}
