@import "mixins";
@import "theme";

/* CSS for different main menu pages, such as character info, script editor, etc (but excluding
    terminal which has its own page) */

.generic-menupage-container {
    height: 100%;
    padding-left: 10px;
    margin-left: 10%;
    width: 99%;
    overflow-y: scroll;
}

/* Character Info */
#character-container {
    padding-top: 10px;
    position: fixed;
}

/* Script Editor */
#script-editor-container {
    background-color: transparent;
}

#javascript-editor {
    margin: 10px;
    height: 80%;
    width: 100%;
    margin-left: 6px;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px solid var(--my-highlight-color);
    z-index: 1;
    font-family: $fontFamily;
}

.ace_line,
.ace_line * {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.ace_text-input {
    font-size: $defaultFontSize;
    background-color: transparent;
}

/* This temp element is used for auto adjusting filename field */
.tmp-element {
    visibility: hidden;
    white-space: pre;
}

#script-editor-container {
    position: fixed;
    padding-top: 10px;
}

#script-editor-buttons-wrapper {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
}

#script-editor-wrapper {
    height: 100%;
    width: 70%;
    background: transparent;
}

#script-editor-filename-wrapper {
    background-color: #555;
    margin-left: 6px;
    margin-right: 0;
    padding-left: 6px;
    width: 100%;
    border: 2px solid var(--my-highlight-color);
}

#script-editor-filename-tag {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 0;
    float: center;
    background-color: #555;
    color: #fff;
}

#script-editor-filename {
    $boxShadowArgs: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    @include boxShadow($boxShadowArgs);

    background-color: #555;
    display: inline-block;
    float: center;
    resize: none;
    color: #fff;
    margin: 4px;
    padding: 2px;
    border: 2px solid var(--my-highlight-color);
}

#script-editor-status {
    float: left;
    color: #fff;
}

#script-editor-options-panel {
    position: absolute;
    right: 9%;
    bottom: 15%;
    border: 2px solid #fff;
    width: 19%;
    background-color: #444;
    padding: 2px;
    overflow: auto;
    z-index: 1;
    color: #fff;
}

#script-editor-options-panel fieldset {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 2px;
    font-size: $defaultFontSize * 0.75;
}

/* Active scripts */
.active-scripts-list {
    list-style-type: none;
}

#active-scripts-container {
    position: fixed;
    padding-top: 10px;
}

#active-scripts-text,
#active-scripts-total-prod {
    width: 70%;
    margin: 6px;
    padding: 4px;
}

.active-scripts-server-header {
    background-color: #444;
    font-size: $defaultFontSize * 1.25;
    color: #fff;
    margin: 6px 6px 0 6px;
    padding: 6px;
    cursor: pointer;
    width: 60%;
    text-align: left;
    border: none;
    outline: none;
}

.active-scripts-server-header.active,
.active-scripts-server-header:hover {
    background-color: #555;
}

.active-scripts-server-header.active:hover {
    background-color: #666;
}

.active-scripts-server-header:after {
    content: '\02795'; /* "plus" sign (+) */
    font-size: $defaultFontSize * 0.8125;
    color: #fff;
    float: right;
    margin-left: 5px;
}

.active-scripts-server-header.active:after {
    content: "\2796"; /* "minus" sign (-) */
    font-size: $defaultFontSize * 0.8125;
    color: #fff;
    float: right;
    margin-left: 5px;
}

.active-scripts-server-panel {
    margin: 0 6px 6px 6px;
    padding: 0 6px 6px 6px;
    width: 55%;
    margin-left: 5%;
    display: none;
}

.active-scripts-server-panel div,
.active-scripts-server-panel ul,
.active-scripts-server-panel ul > li {
    background-color: #555;
}

.active-scripts-script-header {
    background-color: #555;
    color: var(--my-font-color);
    padding: 4px;
    padding-left: 10px;
    cursor: pointer;
    width: auto;
    text-align: left;
    border: none;
    outline: none;
}

.active-scripts-script-header:hover,
.active-scripts-script-header.active:hover {
    background-color: #666;
}

.active-scripts-script-header.active {
    background-color: #555;
}

.active-scripts-script-header:after {
    content: '\02795'; /* "plus" sign (+) */
    font-size: $defaultFontSize * 0.8125;
    float: right;
    margin-left: 5px;
    color: transparent;
    text-shadow: 0 0 0 var(--my-font-color);
}

.active-scripts-script-header.active:after {
    content: "\2796"; /* "minus" sign (-) */
    font-size: $defaultFontSize * 0.8125;
    float: right;
    margin-left: 5px;
}

.active-scripts-script-panel {
    padding: 0 18px;
    background-color: #555;
    width: auto;
    display: none;
    margin-bottom: 6px;

    p, h2, ul, li {
        background-color: #555;
        width: auto;
        color: #fff;
        margin-left: 5%;
    }
}

.active-scripts-button {
    @include borderRadius(12px);
    @include boxShadow(1px 1px 3px #000);

    color: #aaa;
    font-size: $defaultFontSize;
    font-weight: bold;
    margin: 4px;
    padding: 4px;
    background-color: #000;

    &:hover,
    &:focus {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
}

/* Hacknet Nodes */
#hacknet-nodes-container {
    position: fixed;
    padding: 10px;
}

#hacknet-nodes-text,
#hacknet-nodes-container li {
    margin: 10px;
    padding: 10px;
}

#hacknet-nodes-container li {
    float: left;
    overflow: hidden;
    white-space: nowrap;

    &.hacknet-node {
        $boxShadowArgs: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
        @include boxShadow($boxShadowArgs);

        margin: 6px;
        padding: 7px;
        width: 35vw;
        border: 2px solid var(--my-highlight-color);
    }
}

#hacknet-nodes-list {
    list-style: none;
    width: 82vw;
}

#hacknet-nodes-money {
    margin: 10px;
    float: left;
}

#hacknet-nodes-money-multipliers-div {
    display: inline-block;
    width: 70vw;
}

#hacknet-nodes-multipliers {
    float: right;
}

#hacknet-nodes-purchase-button {
    display: inline-block;
}

.hacknet-node-container {
    display: inline-table;

    .row {
        display: table-row;
        height: 30px;

        p {
            display: table-cell;
        }
    }

    .upgradable-info {
        display: inline-block;
        margin: 0 4px; /* Don't want the vertical margin/padding, just left & right */
        padding: 0 4px;
        width: $defaultFontSize * 4;
    }
}

.menu-page-text {
    width: 70vw;
}

/* World */
#world-container {
    position: fixed;
    padding-top: 10px;
}

#world-city-name,
#world-city-desc {
    padding: 4px;
    margin: 4px;
}

/* Create program */
#create-program-container {
    position: fixed;
    padding-top: 10px;
}

#create-program-page-text,
#create-program-list {
    width: 70%;
}

/* Factions and Faction (Single Faction page) */
#factions-container {
    position: fixed;
    padding-top: 10px;
}

#faction-container {
    position: fixed;
    padding-top: 10px;
}

.faction-work-div {
    width: 70%;
    height: 100%;
}

.faction-work-div-wrapper {
    overflow: hidden;
    border: 2px solid #333;
    padding: 6px;
    margin: 6px;
    width: 70%;
}

#faction-donate-amount-txt,
#faction-donate-input {
    padding: 6px;
    margin: 6px;
    display: inline-block;
    color: var(--my-font-color);
    background-color: #000;
}

#faction-donate-amount-txt {
    width: 50%;
}

#faction-container p,
#faction-container pre {
    padding: 6px;
    margin: 6px;
}

#faction-container pre {
    width: 70%;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Faction Augmentations */
#faction-augmentations-container {
    position: fixed;
    padding-top: 10px;

    p, a, ul, h1 {
        margin: 8px;
        padding: 4px;
    }
}

/* World */
#world-container li {
    margin: 0 0 15px 0;
    list-style-type: none;
}

/* Augmentations */
#augmentations-container {
    position: fixed;
    padding-top: 10px;
}

.augmentations-list {
    button,
    div {
        color: var(--my-font-color);
        text-decoration: none;
    }

    button {
        padding: 2px 5px;
    }

    div {
        padding: 6px;
    }
}

/* Tutorial */
#tutorial-container {
    position: fixed;
    padding-top: 10px;
}

#tutorial-text {
    width: 70%;
    margin: 10px;
}

#tutorial-container a {
    width: 50%;
}

/* Dev menu */
#dev-menu-container {
    position: fixed;
    padding-top: 10px;
}

#dev-menu-text {
    width: 70%;
    margin: 10px;
}

#dev-menu-container a {
    width: 50%;
}

/* Location */
#location-container {
    position: fixed;
    padding: 6px;
    overflow-x: hidden;
}

#location-container a {
    display: inline-block;
    width: 30%;
}

#location-slums-description {
    width: 70%;
    margin: 10px;
}

#location-return-to-world-button {
    margin: 10px;
    padding: 6px;
}

#location-container > * {
    margin: 10px 5px 10px 5px;
}

#location-job-reputation,
#location-company-favor {
    display: inline;
}

/* Infiltration */
#infiltration-container {
    position: fixed;
    padding: 6px;
}

#infiltration-left-panel,
#infiltration-right-panel {
    display: inline-block;
    border: 1px solid #fff;
    width: 35%;
    height: 75%;
    top: 10px;
    overflow-y: auto;
    overflow-x: auto;
}

#infiltration-faction-select {
    color: #fff;
}

#infiltration-left-panel p,
#infiltration-right-panel p {
    margin: 4px;
}

#infiltration-buttons .a-link-button {
    display: inline;
    width: 25%;
}

/* Stock market */
#stock-market-container {
    position: fixed;
    padding: 6px;

    p {
        font-size: $defaultFontSize * 0.8125;
    }
    a {
        font-size: $defaultFontSize * 0.875;
    }
    h2 {
        margin-top: 10px;
        margin-left: 10px;
        display: block;
    }
}

/* Change font size of Stock TIcker headers */
#stock-market-list li {
    button {
        font-size: $defaultFontSize;
    }
}

#stock-market-container p {
    padding: 10px;
    margin: 10px;
    width: 70%;
}

#stock-market-container a {
    margin: 10px;
}

#stock-market-watchlist-filter {
    width: 50%;
    margin-left: 10px;
}

.stock-market-input {
    display: inline-block;
    padding: 4px;
    margin: 2px;
    background-color: #000;
    border: 1px solid #fff;
    color: var(--my-font-color);
}

.stock-market-position-text {
    color: #fff;
    display: inline-block;
}

.stock-market-order-list {
    overflow-y: auto;
    max-height: 100px;
}

.stock-market-order-cancel-btn {
    background-color: #000;
    border: 1px solid #fff;
    color: var(--my-font-color);
    margin: 2px;
    padding: 0;
}

/* Gang */
#gang-container {
    position: fixed;
    padding: 6px;
}

#gang-management-subpage > p {
    padding: 4px;
}

.gang-member-info-div {
    float: left;
    background-color: #555;
}
