/* CSS for different main menu pages, such as character info, script editor, etc (but excluding
	terminal which has its own page) */
	
/* Character Info */
#character-container {
    position: fixed;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10%;
    width: 99%;
}


/* Script Editor */
/* This temp element is used for auto adjusting filename field */
.tmp-element {
        visibility: hidden;
        white-space: pre;
}
	  
#script-editor-container {
	position: fixed;
	padding-top: 10px;
	padding-left: 10px;
	height: 100%;
	margin-left: 10%;
}

#script-editor-filename-row-div {
	color: #66ff33;
}

#script-editor-filename-tag {
	float: left;
}

#script-editor-filename {	
	float: left;
	resize: none;
	color: #66ff33;
	width: 100%;
	
	border:	none;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


#script-editor-status {
	float: left;
	color: #ffffff;
}

#script-editor-text {
	color: #66ff33;
	width: 90%;
	height: 100%;
	
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Active scripts */
#active-scripts-container {
	position: fixed;
	padding-top: 10px;
	padding-left: 10px;
	height: 100%;
	margin-left: 10%;
	width: 99%;
}

.active-scripts-list>li h2{
    color: #66ff33;
	padding-top: 10px;
	padding-left: 10px;
    background-color: #333;
    text-decoration: none;
}

.active-scripts-list>li p {
	color: #66ff33;
	padding: 10px;
	padding-left: 40px;
    background-color: #333;
    text-decoration: none;
}

/* World */
#world-container {
    position: fixed;
    padding-top: 10px;
    padding-left: 10px;
    height: 100%;
    margin-left: 10%;
    width: 99%;
}

/* Create program */
#create-program-container {
    position: fixed;
    padding-top: 10px;
    padding-left: 10px;
    height: 100%;
    margin-left: 10%;
    width: 99%;
}

/* Factions */
#factions-container {
    position: fixed;
    padding-top: 10px;
    padding-left: 10px;
    height: 100%;
    margin-left: 10%;
    width: 99%;
}

#faction-container {
    position: fixed;
    padding-top: 10px;
    padding-left: 10px;
    height: 100%;
    margin-left: 10%;
    width: 90%;
}

#faction-hack-button-div, #faction-hack-text-div {
	display:inline-block;
}

#faction-fieldwork-button-div, #faction-fieldwork-text-div {
	display:inline-block;
}

#faction-securitywork-button-div, #faction-securitywork-text-div {
	display:inline-block;
}

/* Augmentations */

#augmentations-container {
    position: fixed;
    padding-top: 10px;
    padding-left: 10px;
    height: 100%;
    margin-left: 10%;
    width: 99%;
}

/* Tutorial */
#tutorial-container {
    position: fixed;
    padding-top: 10px;
    padding-left: 10px;
    height: 100%;
    margin-left: 10%;
    width: 99%;
}