@import "mixins";
@import "theme";

/* CSS for different main menu pages, such as character info, script editor, etc (but excluding
    terminal which has its own page) */

.generic-menupage-container {
  padding-left: 2px;
  margin-left: 10%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

#generic-react-container {
  padding: 10px;
  overflow-y: scroll;
}

#generic-react-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#world-city-name,
#world-city-desc {
  padding: 4px;
  margin: 4px;
}

/* Create program */
#create-program-container {
  position: fixed;
  padding-top: 10px;
}

#create-program-page-text,
#create-program-list {
  width: 70%;
}

/* Factions and Faction (Single Faction page) */
#factions-container {
  position: fixed;
  padding-top: 10px;
}

#faction-container {
  position: fixed;
  padding-top: 10px;
}

.faction-work-div {
  width: 70%;
  height: 100%;
}

.faction-work-div-wrapper {
  overflow: hidden;
  border: 2px solid #333;
  padding: 6px;
  margin: 6px;
  width: 70%;
}

#faction-container p,
#faction-container pre {
  padding: 4px 6px;
  margin: 4px 6px;
}

#faction-container pre {
  width: 70%;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* World */
#world-container li {
  margin: 0 0 15px 0;
  list-style-type: none;
}

/* Tutorial */
#tutorial-container {
  position: fixed;
  padding-top: 10px;
}

#tutorial-text {
  width: 70%;
  margin: 10px;
}

#tutorial-container a {
  width: 50%;
}

/* Dev menu */
#dev-menu-container {
  position: fixed;
  padding-top: 10px;
}

#dev-menu-text {
  width: 70%;
  margin: 10px;
}

#dev-menu-container a {
  width: 50%;
}

/* Location */
#location-container {
  position: fixed;
  padding: 6px;
  overflow-x: hidden;
}

#location-container a {
  display: inline-block;
  width: 30%;
}

#location-slums-description {
  width: 70%;
  margin: 10px;
}

#location-return-to-world-button {
  margin: 10px;
  padding: 6px;
}

#location-container > * {
  margin: 10px 5px 10px 5px;
}

#location-job-reputation,
#location-company-favor {
  display: inline;
}

/* Infiltration */
#infiltration-container {
  position: fixed;
  margin: 5px;
  width: 70%;
}
