/* Pop-up boxes */
.popup-box-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: black; /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    background-color: rbga(var(--my-background-color), 0.4);
}

.dialog-box-container,
#log-box-container {
    display: block;
    position: absolute;
    z-index: 2;
    width: 50%;
    height: auto;
    max-height: 40%;
    top: 40%;
    left: 50%;
    margin: -10% 0 0 -25%;
    overflow: auto;
    background-color: var(--my-background-color);
    border: 5px solid var(--my-highlight-color);
}

.dialog-box-content,
#log-box-content {
    z-index: 2;
    background-color: var(--my-background-color);
    padding: 10px;
}

.dialog-box-close-button,
#log-box-close {
    float: right;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

#log-box-close {
    position: fixed;
    right: 27%;
}

.dialog-box-close-button:hover,
.dialog-box-close-button:focus,
#log-box-close:hover,
#log-box-close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Purchase server box */
#purchase-server-box-container {
    transition: opacity 400ms ease-in;
}

#purchase-server-box-content {
    background-color: var(--my-background-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 12px;
    border: 5px solid var(--my-highlight-color);;
    width: 80%; /* Could be more or less, depending on screen size */
    color: var(--my-font-color);
}

#purchase-server-box-input {
    color: white;
}

#purchase-server-box-confirm,
#purchase-server-box-cancel {
    color: #aaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    margin: 6px;
    border: 1px solid white;
}

#purchase-server-box-confirm:hover,
#purchase-server-box-confirm:focus {
    color: var(--my-font-color);
    text-decoration: none;
    cursor: pointer;
}

#purchase-server-box-cancel:hover,
#purchase-server-box-cancel:focus {
    color: var(--my-font-color);
    text-decoration: none;
    cursor: pointer;
}

/* Purchase RAM for Home computer pop-up box */
#purchase-ram-for-home-box-container {
    transition: opacity 400ms ease-in;
}

#purchase-ram-for-home-box-content {
    background-color: var(--my-background-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 12px;
    border: 5px solid var(--my-highlight-color);
    width: 50%; /* Could be more or less, depending on screen size */
    color: var(--my-font-color);
}

#purchase-ram-for-home-box-confirm,
#purchase-ram-for-home-box-cancel {
    color: #aaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    margin: 6px;
    border: 1px solid white;
}

#purchase-ram-for-home-box-confirm:hover,
#purchase-ram-for-home-box-confirm:focus {
    color: var(--my-font-color);
    text-decoration: none;
    cursor: pointer;
}

#purchase-ram-for-home-box-cancel:hover,
#purchase-ram-for-home-box-cancel:focus {
    color: var(--my-font-color);
    text-decoration: none;
    cursor: pointer;
}

/* Purchase Invitation Box */
#purchase-augmentation-box-container {
    transition: opacity 400ms ease-in;
}

#purchase-augmentation-box-content {
    background-color: var(--my-background-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 8px;
    border: 5px solid var(--my-highlight-color);;
    width: 80%; /* Could be more or less, depending on screen size */
    color: var(--my-font-color);
}

#purchase-augmentation-box-confirm,
#purchase-augmentation-box-cancel {
    color: #aaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
    margin: 6px;
    border: 1px solid white;
}

#purchase-augmentation-box-confirm:hover,
#purchase-augmentation-box-confirm:focus {
    color: var(--my-font-color);
    text-decoration: none;
    cursor: pointer;
}

#purchase-augmentation-box-cancel:hover,
#purchase-augmentation-box-cancel:focus {
    color: var(--my-font-color);
    text-decoration: none;
    cursor: pointer;
}

/* Faction invitation box */
#faction-invitation-box-container {
    transition: opacity 400ms ease-in;
}

#faction-invitation-box-content {
    background-color: var(--my-background-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 5px solid var(--my-highlight-color);;
    width: 80%; /* Could be more or less, depending on screen size */
    color: var(--my-font-color);
}

#faction-invitation-box-warning {
    margin: 4px;
    padding: 4px;
}

#faction-invitation-box-yes,
#faction-invitation-box-no {
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    margin: 6px;
    border: 1px solid white;
}

#faction-invitation-box-yes:hover,
#faction-invitation-box-yes:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#faction-invitation-box-no:hover,
#faction-invitation-box-no:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/* Travel Pop-up Box */
#travel-box-container {
    transition: opacity 400ms ease-in;
}

#travel-box-content {
    background-color: var(--my-background-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 5px solid var(--my-highlight-color);;
    width: 50%; /* Could be more or less, depending on screen size */
    color: var(--my-font-color);
}

#travel-box-text {
    margin: 8px;
}

#travel-box-confirm,
#travel-box-cancel {
    color: #aaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    margin: 6px;
    border: 1px solid white;
}

#travel-box-confirm:hover,
#travel-box-confirm:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#travel-box-cancel:hover,
#travel-box-cancel:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Game Options */
#game-options-container {
    transition: opacity 400ms ease-in;
}

#game-options-content {
    background-color: var(--my-background-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 5px solid var(--my-highlight-color);
    width: 50%; /* Could be more or less, depending on screen size */
    color: var(--my-font-color);
}

#game-options-close-button {
    color: #aaa;
    float: right;
    margin: 4px; 
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px white;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

#game-options-close-button:hover,
#game-options-close-button:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#import-game-file-selector {
    display:none;
}

