@import "mixins";
@import "theme";
@import "styles";

/* Pop-up boxes */
.popup-box-container {
  display: none; /* Initially hidden */
  position: fixed; /* Stay in place */
  z-index: 1300; /* Sit on top */
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rbga(var(--my-background-color), 0.4);
}

.popup-box-content {
  background-color: var(--my-background-color);
  padding: 12px;
  border: 5px solid var(--my-highlight-color);
  width: 70%;
  max-height: 80%;
  overflow-y: auto;
  z-index: 11; /* Sit on top of the container */
  color: var(--my-font-color);
}

.popup-box-input-div {
  margin: 2px;
}

.popup-box-button,
.popup-box-button-inactive {
  color: #aaa;
  float: right;
  font-size: $defaultFontSize;
  font-weight: bold;
  padding: 2px;
  margin: 6px;
  border: 1px solid #fff;
  background-color: #000;
}

.popup-box-button:hover,
.popup-box-button:focus {
  color: var(--my-font-color);
  text-decoration: none;
  cursor: pointer;
}

.popupbox-button-inactive {
  pointer-events: none;
  cursor: default;
}

#yes-no-text-input-box-input {
  color: var(--my-font-color);
  border: 1px solid #fff;
  background-color: #000;
}

.dialog-box-container {
  display: block;
  position: absolute;
  z-index: 10;
  width: 50%;
  height: auto;
  max-height: 50%;
  top: 40%;
  left: 50%;
  margin: -10% 0 0 -25%;
  overflow: auto;
  background-color: var(--my-background-color);
  border: 5px solid var(--my-highlight-color);
}

.log-box-container {
  display: flex;
  flex-flow: column;
  background-color: gray;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 40%;
  margin: -10% 0 0 -25%;
  height: auto;
  max-height: 50%;
  z-index: 10;
  background-color: var(--my-background-color);
  border: 2px solid var(--my-highlight-color);
}

.log-box-header {
  z-index: 1300;
  background-color: #333;
  border: 1px solid var(--my-highlight-color);
  display: flex;
  flex: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.log-box-log-container {
  overflow-y: auto;
}

.log-box-button {
  color: #aaa;
  font-size: $defaultFontSize;
  font-weight: bold;
  padding: 2px;
  margin: 6px;
  border: 1px solid #fff;
  background-color: #000;
}

.log-box-button:hover,
.log-box-button:focus {
  color: var(--my-font-color);
  text-decoration: none;
  cursor: pointer;
}

.dialog-box-content {
  z-index: 2;
  background-color: var(--my-background-color);
  padding: 10px;

  p span {
    padding: 0;
    margin: 0;
  }
}

.dialog-box-close-button {
  @include borderRadius(12px);
  @include boxShadow(1px 1px 3px #000);
  @extend .noselect;

  float: right;
  color: #aaa;
  font-size: $defaultFontSize * 1.25;
  font-weight: bold;
}

#log-box-close {
  position: fixed;
  right: 27%;
}

#log-box-kill-script {
  right: 11%;
  position: relative;
}

#log-box-close,
#log-box-kill-script {
  float: right;
  display: inline-block;
}

.dialog-box-close-button:hover,
.dialog-box-close-button:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Faction invitation box */
#faction-invitation-box-container {
  transition: opacity 400ms ease-in;
}
#faction-invitation-box-warning {
  margin: 4px;
  padding: 4px;
}

/* Infiltration-box */
#infiltration-box-sell,
#infiltration-box-faction {
  display: block;
  padding: 8px;
  margin: 8px;
}

#infiltration-box-content span {
  padding: 0;
  margin: 0;
}

#infiltration-faction-select {
  background-color: #000;
}

/* Game Options */
#game-options-container {
  transition: opacity 400ms ease-in;
}

#game-options-content {
  background-color: var(--my-background-color);
  padding: 10px;
  border: 5px solid var(--my-highlight-color);
  color: var(--my-font-color);
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

#game-options-left-panel,
#game-options-right-panel {
  display: inline-block;
  width: 49%;
}

#game-options-close-button {
  @include borderRadius(12px);
  @include boxShadow(1px 1px 3px #000);

  color: #aaa;
  float: right;
  margin: 4px;
  padding: 4px;
  font-size: $defaultFontSize * 1.25;
  font-weight: bold;
}

#game-options-close-button:hover,
#game-options-close-button:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#game-options-left-panel fieldset {
  padding: 2px;
  margin: 2px;
}

#import-game-file-selector {
  display: none;
}
