/* Pop-up boxes */
.popup-box-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:auto;
    background-color: rbga(var(--my-background-color), 0.4);
}

.popup-box-content {
    background-color: var(--my-background-color);
    margin: 15% auto;
    padding: 12px;
    border: 5px solid var(--my-highlight-color);
    width: 70%;
    color: var(--my-font-color);
}

.popup-box-button,
.popup-box-button-inactive {
    color: #aaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    margin: 6px;
    border: 1px solid white;
    background-color:black;
}

.popup-box-button:hover,
.popup-box-button:focus {
    color: var(--my-font-color);
    text-decoration: none;
    cursor: pointer;
}

.popupbox-button-inactive {
    pointer-events: none;
    cursor: default;
}

#yes-no-text-input-box-input {
    color: var(--my-font-color);
    border: 1px solid white;
    background-color:black;
}

.dialog-box-container,
#log-box-container {
    display: block;
    position: absolute;
    z-index: 2;
    width: 50%;
    height: auto;
    max-height: 40%;
    top: 40%;
    left: 50%;
    margin: -10% 0 0 -25%;
    overflow: auto;
    background-color: var(--my-background-color);
    border: 5px solid var(--my-highlight-color);
}

.dialog-box-content,
#log-box-content {
    z-index: 2;
    background-color: var(--my-background-color);
    padding: 10px;
}

.dialog-box-close-button,
#log-box-close {
    float: right;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

#log-box-close {
    position: fixed;
    right: 26%;
}

.dialog-box-close-button:hover,
.dialog-box-close-button:focus,
#log-box-close:hover,
#log-box-close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Faction invitation box */
#faction-invitation-box-container {
    transition: opacity 400ms ease-in;
}
#faction-invitation-box-warning {
    margin: 4px;
    padding: 4px;
}

/* Infiltration-box */
#infiltration-box-sell,
#infiltration-box-faction {
    display: block;
    padding: 8px;
    margin: 8px;
}

#infiltration-faction-select {
    background-color:black;
}

/* Generic Yes No Box */
#yes-no-text-input-box-input {
    color: white;
}

/* Game Options */
#game-options-container {
    transition: opacity 400ms ease-in;
}

#game-options-content {
    background-color: var(--my-background-color);
    margin: 15% auto;
    padding: 10px;
    border: 5px solid var(--my-highlight-color);
    width: 60%;
    color: var(--my-font-color);
}

#game-options-left-panel,
#game-options-right-panel {
    display: inline-block;
    width: 49%;
}

#game-options-close-button {
    color: #aaa;
    float: right;
    margin: 4px;
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px white;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

#game-options-close-button:hover,
#game-options-close-button:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#game-options-left-panel fieldset {
    padding:2px;
    margin:2px;
}

#import-game-file-selector {
    display:none;
}
