@import "theme";

/**
 * Styling for the Red Pill screen (the BitNode selection UI)
 */
#red-pill-container {
    position: fixed;
}

.bitnode {
    &.level-0 {
        color: red;
    }

    &.level-1 {
        color: yellow;
    }

    &.level-2 {
        color: 	#48d1cc;
    }

    &.level-3 {
        color: blue;
    }

    &.unimplemented {
        color: gray;
    }

    &:hover {
        color: #fff;
    }
}
