@import "mixins";
@import "theme";

/**
 * Styling for Script Editor (both Ace and CodeMirror)
 */

#script-editor-container {
    background-color: transparent;
}

/* This temp element is used for auto adjusting filename field */
.tmp-element {
    visibility: hidden;
    white-space: pre;
}

#script-editor-container {
    position: fixed;
    padding-top: 10px;
}

#script-editor-buttons-wrapper {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
}

#script-editor-wrapper {
    height: 100%;
    width: 70%;
    background: transparent;
}

#script-editor-filename-wrapper {
    background-color: #555;
    margin-right: 0;
    padding-left: 6px;
    width: 100%;
    border: 2px solid var(--my-highlight-color);
}

#script-editor-filename-tag {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 0;
    float: center;
    background-color: #555;
    color: #fff;
}

#script-editor-filename {
    $boxShadowArgs: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    @include boxShadow($boxShadowArgs);

    background-color: #555;
    border: 2px solid var(--my-highlight-color);
    color: #fff;
    display: inline-block;
    float: center;
    margin: 4px;
    padding: 2px;
    resize: none;
    width: 60%;
}

#script-editor-status {
    float: left;
    color: #fff;
}

#script-editor-options-panel {
    position: absolute;
    right: 9%;
    bottom: 15%;
    border: 2px solid #fff;
    width: 19%;
    background-color: #444;
    padding: 2px;
    overflow: auto;
    z-index: 1;
    color: #fff;
    max-height: 50%;
}

#script-editor-options-panel fieldset {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 2px;
    font-size: $defaultFontSize * 0.75;

    input {
        margin: 2px;
    }
}

.editor-options-container {
    display: flex;
    flex-flow: column;
}

.editor-options-line {
    display: flex;
    flex: row nowrap;
    align-items: center;
    justify-content: start;
}