/**
 * Styling for the Sleeves Management page
 */
@import "theme";

.sleeve-elem {
  border: 1px solid white;
  margin: 4px;
  display: block;
}

.sleeves-page-info {
  display: "block";
  width: 75%;
}

.sleeve-panel {
  display: inline-block;
  margin: 0;
  padding: 2px;

  select {
    display: block;
  }
}
