.staneksgift_row {
  padding: 0;
  margin: 0;
}

.staneksgift_cell {
  width: 25px;
  height: 25px;
  background-color: #808080;
  font-color: white;
  padding: 0px;
  margin: 0px;
  border: 1px solid black;
  float: left;
}

.staneksgift_cell:first-child {
  clear: left;
}

.staneksgift_container {
  position: fixed;
}
