/** This removes all padding and margins as well as 
    setting a default font size and family for the page **/
* { 
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lucida Console', 'Lucida Sans Unicode', 'Fira Mono', 'Consolas', 'Times New Roman';
    background-color: #252527;
    background-color: black;
}

p {
    color: #66ff33;
}

h1 {
    
}

/* Main menu */
.mainmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    position: fixed;
    height: 100%;
    overflow: auto;
    
    border: 0;
	border-bottom: 1px solid #000000;
	border-radius: 0;
	background-color: #333;
}

.mainmenu>li a {
    display: block;
    color: #e6e6e6;
    background-color: #333;
    padding: 16px;
    text-decoration: none;
}

.mainmenu>li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.mainmenu>li a:focus {
    background-color: #555;
}

.mainmenu>li a.active {
    background-color: #555;
    color: white;
	
}

/* Make html links ("a" elements) nice looking buttons with this class */
.a-link-button {
    text-decoration: none;
    background-color: #555;
    color: #FFFFFF;
    padding: 4px 4px 4px 4px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
}

/* Pop-up Dialog Box */
#dialog-box-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #333; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#dialog-box-content {
    background-color: #555;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1px;
    border: 1px solid #555;
    width: 80%; /* Could be more or less, depending on screen size */
}

.dialog-box-text {
    color: #66ff33;
}

#dialog-box-close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#dialog-box-close-button:hover,
#dialog-box-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Pop-up Yes/no box */
#yes-no-box-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #333; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#yes-no-box-content {
    background-color: #555;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1px;
    border: 1px solid #555;
    width: 80%; /* Could be more or less, depending on screen size */
}

#yes-no-box-yes, #yes-no-box-no {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#yes-no-box-yes:hover,
#yes-no-box-yes:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#yes-no-box-no:hover,
#yes-no-box-no:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}