#terminal-container {
    position: fixed;
    margin-left: 10%;
	height: 100%;
    width: 99%;
	overflow: auto;
	overflow-y: scroll;
}

#terminal {
    padding-top: 10px;
    padding-left: 10px;
    height: auto;
    width: 70%;
    font-size: 16px;
	overflow: auto;
	overflow-y: scroll;
    background-color: var(--my-background-color);
    table-layout: fixed;
}

#terminal-input {
    background-color: var(--my-background-color);
    color: var(--my-font-color);
    transition: height 1s;
}

.terminal-input {
	display: inline-block;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px;
	background-color: var(--my-background-color);
	font-size: 16px;
	outline: none;
    color: var(--my-font-color);
}

.terminal-line {
    width: 70%;
    word-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}

#terminal-input-td {
    display: flex;
}

#terminal-input-header {
    white-space: pre;
}

#terminal-input-text-box {
    flex: 1 1 auto;
}
