/* Both Work in progress and BitNode stuff */
#generic-fullscreen-container {
    color: var(--my-font-color);
	padding-top: 10px;
	padding-left: 10px;
    margin: 10px;
	height: 100%;
    width: 99%;
}

#work-in-progress-container {
    position: fixed;
}

#work-in-progress-text {
    color: var(--my-font-color);
    width: 70%;
    margin: 10px;
}

#work-in-progress-cancel-button {
    color: #aaa;
    float: left;
    font-size: 20px;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    margin: 10px;
    padding: 5px;
    border-radius: 12px;
    border: 3px solid white;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

#work-in-progress-cancel-button:hover,
#work-in-progress-cancel-button:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#red-pill-container {
    position: fixed;
}

.bitnode {
    color:blue;
}
.bitnode-destroyed {
    color:red;
}
.bitnode:hover,
.bitnode-destroyed:hover {
    color:white;
}
