@import "mixins";
/* Both Work in progress and BitNode stuff */
.generic-fullscreen-container {
    color: var(--my-font-color);
    width: 99%;
    height: 100%;
}

#work-in-progress-container {
    position: fixed;
}

#work-in-progress-text {
    color: var(--my-font-color);
    width: 70%;
    margin: 10px;
}

#work-in-progress-cancel-button {
    @include borderRadius(12px);
    color: #aaa;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    border: 3px solid #fff;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

#work-in-progress-cancel-button:hover,
#work-in-progress-cancel-button:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#red-pill-container,
#cinematic-text-container {
    position: fixed;
}

.bitnode {
    color: #00f;
}
.bitnode-destroyed {
    color: #f00;
}
.bitnode:hover,
.bitnode-destroyed:hover {
    color: #fff;
}
