node_modules/
dist/
input/

assets/
css/
.cypress/
cypress/
doc/
markdown/
netscript_tests/
scripts/

electron/lib
electron/greenworks.js
src/ThirdParty/*
src/JSInterpreter.js

test/*.bundle.*
editor.main.js
main.bundle.js
webpack.config.js
webpack.config-test.js
