.DS_Store
.history
.vscode
Changelog.txt
Netburner.txt
/doc/build
/node_modules
/electron/node_modules
/test/*.map
/test/*.bundle.*
/test/*.css
/input/bitburner.api.json
.cypress

# tmp folder for electron
.package
.build

# editor files
.vscode

.idea/
